@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\000035}}
.container {
  display: grid; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\000039}}
#product-list {
  grid-column: 1/2;
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000311}}
  #product-list dt {
    padding: 10px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000318}}
#product-price {
  grid-column: 2/2;
  display: grid;
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000321}}
  #product-price dt {
    padding: 10px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000327}}
.remove-btn {
  padding: 0px 5px;
  align-self: grid-column-end;
  grid-column: 3/3;
  margin: 10px 0px;
  border: 5px;
  border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000336}}
#total {
  color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000340}}
.clear-button {
  padding: 10px;
  border: 5px;
  border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000346}}
.checkout-input {
  color: #fefefe;
  padding-left: 0px 5px;
  border: 10px;
  margin: 0px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000353}}
.checkout-form {
  background-color: #212529; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000355}}
  .checkout-form h2 {
    color: #fefefe; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kchan\/Downloads\/BCIT-SSD\/FrontEnd-Essentials\/Project\/front-end-project-the-spartans\/sass\/checkout\.scss}line{font-family:\0000360}}
.checkout-button {
  margin: 10px;
  padding: 10px;
  text-align: right;
  border: 5px;
  border-radius: 10px; }

/*# sourceMappingURL=checkout.css.map */
