@import "confirmation";
@import "variables";


.container{
     display: grid;
}

#product-list{
     grid-column: 1/2;
     dt{
          padding: 10px 0px;
     }
     margin-bottom: 10px;

}

#product-price{
     grid-column: 2/2;
     display: grid;
     dt{
          padding: 10px 0px;
     }
     margin-bottom: 10px;
}

.remove-btn{
     padding: $padding-space;
     align-self: grid-column-end;
     grid-column: 3/3;
     margin: 10px 0px;
     border: $button-border;
     border-radius: 10px;
}

#total{
     color: black;
}

.clear-button{
     padding: $button-padding;
     border: $button-border;
     border-radius: 10px;
}

.checkout-input{
     color: #fefefe;
     padding-left: $padding-space;
     border: 10px;
     margin: 0px 10px;
}

.checkout-form{
     background-color: #212529;
     h2{
          color: #fefefe;
     }
}

.checkout-button{
     margin: 10px;
     padding: $button-padding;
     text-align: right;
     border: $button-border;
     border-radius: 10px;
}

