/*box-sizing reset*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*base styles*/
a {
    text-decoration: none;
    color: #96a75a;
}

body {
    margin: 0;
    background-color: #e9e7f0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #5e5aa7;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid lightgrey;
}

#icon-header {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}

#icon-header .fa {
    background-color: #efefef;
    padding: 2%;
    margin: 1%;
    border-radius: 50%;
}

header .fa:hover {
    color: #9ae0ec;
}

/*navigation*/
nav {
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 2%;
}

nav a {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: rgb(141, 140, 140);
}

/*banner*/
#banner {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

#banner img {
    max-width: 100%;
}

#banner ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: .5px solid lightgrey;
    border-radius: 2%;
    margin: 0;
    padding: 0;
}

#banner li {
    border-bottom: 1px solid lightgrey;
}

#banner li:last-child {
    border-bottom: none;
}

#banner a {
    text-decoration: none;
    display: block;
    font-size: 100%;
    padding: 1rem 2.5rem;
    color: #5e5aa7;
    text-transform: uppercase;
}

#banner a:hover {
    background-color: #9ae0ec;
}

/*product section*/
#product-container h1 {
    text-align: center;
    margin: 5% 4%;
    color: #5e5aa7;
    font-weight: lighter;
    text-transform: uppercase;
}

.product-container {
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: 2%;
    border: 1px solid lightgrey;
    border-radius: 2%;
}

.card a {
    text-decoration: none;
    text-transform: uppercase;
}

.card img:hover {
    opacity: 0.5;
}

/*footer*/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5e5aa7;
    color: white;
    margin-top: 10%;
}


.social,
.contact {
    padding: 2%;

}

.social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social li a {
    color: white;
    font-size: 1rem;
}